.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.account{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
